ion-card {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    border-radius: 15px;
    background-color: rgb(244, 244, 244, 0.7)
}
ion-label,
ion-text {
    color: #004F7E;
}
ion-input {
    background-color: #ffffff;
    --padding-top: 5px;
    --padding-bottom: 5px;
}
.login-btn {
    --background: #004F7E;
    --border-radius: 5px;
}