<ion-header>
  <ion-toolbar>
    <ion-row>
      <ion-col size="2">
        <ion-back-button defaultHref="home" color="light" icon="chevron-back"></ion-back-button>
      </ion-col>
      <ion-col size="7" class="ion-align-self-center">
        <ion-title class="ion-no-padding itemlist-ttl">Items List</ion-title>
      </ion-col>
      <ion-col size="3" class="ion-align-self-center">
        <ion-title class="ion-no-padding itemlist-ttl" id="add-item-btn">Add Item</ion-title>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let item of items; let j = index">
    <ion-card-content>
      <ion-row>
        <ion-col size="9" class="no-padding">
          <ion-text class="float-left">
            <h3><b>{{ item.name }}</b></h3>
          </ion-text>
        </ion-col>
        <ion-col size="3" class="no-padding">
          <ion-button fill="none" size="small" class="ion-no-padding float-right" id="{{ 'ellipsis'+j }}">
            <ion-icon name="ellipsis-vertical" class="ellipsis-icon"></ion-icon>
          </ion-button>

          <!-- Ellipsis Button Click Modal -->
          <ion-modal trigger="{{'ellipsis'+j}}" initialBreakpoint="0.2" class="ellipsisModal">
            <ng-template>
              <ion-list>
                <ion-item lines="none" class="options" (click)="updateModal(item)">
                  <ion-label class="ion-padding-start">Edit</ion-label>
                  <ion-icon class="edit-icon ion-no-margin" name="create" slot="start"></ion-icon>
                </ion-item>
                <ion-item lines="none" class="options" (click)="confirmAlert(item.id)">
                  <ion-label class="ion-padding-start">Delete</ion-label>
                  <ion-icon class="delete-icon ion-no-margin" name="trash" slot="start"></ion-icon>
                </ion-item>
              </ion-list>
            </ng-template>
          </ion-modal>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-text><small>{{ item.barcode }}</small></ion-text>
      </ion-row>
      <ion-row>
        <ion-text><b>{{ item.price }} Ks</b></ion-text>
      </ion-row>
    </ion-card-content>
  </ion-card>

  <!-- Add New Item Modal -->
  <ion-modal trigger="add-item-btn" initialBreakpoint="0.7" class="addItemModal">
    <ng-template class="addItemForm">
      <form class="ion-margin-vertical" [formGroup]="myForm" (ngSubmit)="onSubmit()" novalidate>
        <ion-item lines="none">
          <ion-label position="stacked" class="label">Code</ion-label>
          <ion-row>
            <ion-col size="10" class="ion-no-padding">
              <ion-input type="text" formControlName="barcode" value="{{ data.barcode }}"
                class="ion-margin-top ion-no-padding"></ion-input>
            </ion-col>
            <ion-col size="2" class="ion-no-padding ion-align-self-end">
              <ion-button expand="full" class="scan-btn ion-text-capitalize ion-align-self-end" size="medium"
                (click)="scan()">Scan</ion-button>
            </ion-col>
          </ion-row>
        </ion-item>

        <ion-item
          *ngIf="submitted && errorControl.barcode.errors?.required || myForm.get('barcode').touched && myForm.get('barcode').pristine"
          lines="none">
          <ion-text color="danger" class="error-msg">Please scan the item's barcode.</ion-text>
          <ion-icon name="information-circle-outline" color="danger" slot="start" class="ion-no-margin"></ion-icon>
        </ion-item>

        <ion-item lines="none">
          <ion-label position="stacked" class="label">Item Name</ion-label>
          <ion-input type="text" formControlName="itemName" class="ion-margin-top ion-no-padding"></ion-input>
        </ion-item>

        <ion-item
          *ngIf="submitted && errorControl.itemName.errors?.required || myForm.get('itemName').touched && myForm.get('itemName').pristine"
          lines="none">
          <ion-text color="danger" class="error-msg">Please fill item name.</ion-text>
          <ion-icon name="information-circle-outline" color="danger" slot="start" class="ion-no-margin"></ion-icon>
        </ion-item>

        <ion-item lines="none">
          <ion-label position="stacked" class="label">Price</ion-label>
          <ion-input type="text" formControlName="price" class="ion-margin-vertical ion-no-padding"></ion-input>
        </ion-item>

        <ion-item
          *ngIf="submitted && errorControl.price.errors?.required || myForm.get('price').touched && myForm.get('price').pristine"
          lines="none">
          <ion-text color="danger" class="error-msg">Please fill the item price.</ion-text>
          <ion-icon name="information-circle-outline" color="danger" slot="start" class="ion-no-margin"></ion-icon>
        </ion-item>

        <ion-row class="ion-margin-horizontal">
          <ion-col class="ion-no-padding">
            <ion-button type="reset" color="medium" (click)="closeModal()" class="cancelBtn float-left">Cancel
            </ion-button>
          </ion-col>
          <ion-col class="ion-no-padding">
            <ion-button type="submit" class="item-submit float-right">OK</ion-button>
          </ion-col>
        </ion-row>
      </form>
    </ng-template>
  </ion-modal>
</ion-content>